*

!.gitignore
!README.md

!setup.py
!requirements.txt

!licenses/
!licenses/**
!LICENSE

!scripts/
!scripts/**

!docs/
!docs/**

!.github/
!.github/**

!othello/
!othello/**

!tests/
!tests/**

*.pyc
*.pyo