altgraph==0.17
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
colorama==0.4.4
cx-Freeze==6.5.3
Fiona @ https://download.lfd.uci.edu/pythonlibs/y2rycu7g/Fiona-1.8.21-cp38-cp38-win_amd64.whl
future==0.18.2
GDAL @ https://download.lfd.uci.edu/pythonlibs/y2rycu7g/GDAL-3.3.1-cp38-cp38-win_amd64.whl
geopandas==0.9.0
importlib-metadata==3.7.3
iniconfig==1.1.1
munch==2.5.0
numpy==1.20.1
packaging==20.9
pandas==1.2.3
pefile==2019.4.18
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pyproj==3.0.1
PySide2==5.15.2
pytest==6.2.2
python-dateutil==2.8.1
pytz==2021.1
pywin32-ctypes==0.2.0
Rtree==0.9.7
Shapely==1.7.1
shiboken2==5.15.2
six==1.15.0
toml==0.10.2
zipp==3.4.1
